<div class="container">
    <div class="row">
        <div class="col-1 ">
        </div>
        <div class="col-10 justify-content-center">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                    <div class="col-md-6 mt-md-0 mt-3">
                    <br>
                    <br>
                    <p>Update Photo</p>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-3">
                    <br>
                    <br>
                    <p>Edit Name: </p>
                    <br>
                    <br>
                    <p>Edit DOB: </p>
                    <br>
                    <br>
                    <p>Edit Address: </p>
                    <br>
                    <br>
                    <p>Edit City/Town: </p>
                    <br>
                    <br>
                    <p>Edit Country: </p>
                    <br>
                    <br>
                    <p>Submit </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>