<div class="container">
    <div class="row">
        <div class="col-1 ">
        </div>
        <div class="col-10 justify-content-center">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                    <div class="col-md-6 mt-md-0 mt-3">
                    <br>
                    <br>
                    <p>Profile Photo</p>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-3">
                    <br>
                    <br>
                    <p>Full Name: </p>
                    <br>
                    <br>
                    <p>DOB: </p>
                    <br>
                    <br>
                    <p>Address: </p>
                    <br>
                    <br>
                    <p>City/Town: </p>
                    <br>
                    <br>
                    <p>Country: </p>
                    <br>
                    <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>