<div class="container">
    <div class="row">
        <div class="col-1 ">
        </div>
        <div class="col-10 justify-content-center">
            <div>
            <hr>
            <Marquee><h2>Reviewed Product List</h2></Marquee>
            <hr>
            <table border="1" class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Photo</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Brand/Manufacturer</th>
                        <th scope="col">Average Cost</th>
                        <th scope="col">Category</th>
                        <th scope="col">Release Date</th>
                        <th scope="col">Description</th>
                        <th scope="col">Product Page</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">(filler text) Photo</th>
                        <th>(filler text) Apple iPhone 6</th>
                        <th>(filler text) Apple</th>
                        <th>(filler text) $400</th>
                        <th>(filler text) Smartphones</th>
                        <th>(filler text) 11/1/19</th>
                        <th>(filler text) Description</th>
                        <th>(filler text) URL</th>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>