<div class="container">
    <div class="row">
        <div class="col-1 ">
        </div>
        <div class="col-10 justify-content-center">
            <div>
            <hr>
            <Marquee><h2>Add New Product</h2></Marquee>
            <hr>

            <p>form group</p>
            <p>Product Name: asdasd</p>
            <p>Product Brand: asdasd</p>
            <p>Average Cost: 97287</p>
            <p>category</p>
            <p>Date</p>
            <p>Upload Photo feature</p>
            <p>Submit Button</p>

            </div>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>