<div class="container">
    <div class="row">
        <div class="col-1 ">
        </div>
        <div class="col-10 justify-content-center">
            <div>
            <hr>
            <Marquee><h2>Product Details</h2></Marquee>
            <hr>
            <p>Product Name: asdasd</p>
            <br>
            <br>
            <p>Product Brand: asdasd</p>
            <br>
            <br>
            <p>Average Cost: 97287</p>
            <br>
            <br>
            <p>category</p>
            <br>
            <br>
            <p>Date</p>
            <br>
            <br>
            <p>Upload Photo feature</p>
            <br>
            <br>
            <p>Create Review Link</p>
            </div>
            <div>
            <hr>
            <h5>Product Reviews (iframe?)</h5>
            <hr>
            <p>Profile image</p>
            <br>
            <br>
            <p>Review Author Name.</p>
            <br>
            <br>
            <p>Review Rating.</p>
            <br>
            <br>
            <p>Review text.</p>
            <br>
            <br>
            <p>Review Fate.</p>
            <br>
            <br>
            <p>View Review Link</p>|
            <p>Edit Review Link</p>|
            <p>Delete Review Link</p>
            </div>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>