<div class="container">
    <h2>Register User Account</h2>

    <p>register form (upon registration redirect to blank profile)</p>

    <p>username</p>
    <p>email</p>
    <p>password</p>
    <p>submit</p>
</div>