<div class="container">
    <div class="row">
        <div class="col-1 ">
        </div>
        <div class="col-10 justify-content-center">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                    <div class="col-md-6 mt-md-0 mt-3">
                    <br>
                    <br>
                    <%= image_tag(@user.userphoto.url, class: "img-fluid") %>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-3">
                    <br>
                    <br>
                    <p>Username: <%= @user.username %></p>
                    <br>
                    <br>
                    <p>Email: <%= @user.email %></p>
                    <br>
                    <br>
                    <a href="#"> <%= link_to "Update Username/Password/Photo", edit_user_path %> </a><br><br>
                    <br>
                    <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>