<div class="container">
    <div class="row">
        <div class="col-1 ">
        </div>
        <div class="col-10 justify-content-center">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                    <div class="col-md-6 mt-md-0 mt-3">
                    <br>
                    <br>
                    <p>Update Review</p>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-3">
                    <br>
                    <br>
                    <p>Author Name </p>
                    <br>
                    <br>
                    <p>Product Rating</p>
                    <br>
                    <br>
                    <p>Review Text</p>
                    <br>
                    <br>
                    <p>Review Date</p>
                    <br>
                    <br>
                    <p>Submit</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>