<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About Us</title>
</head>
<body>
    <div class="container">
        <div class="row">
          <div class="col-1 ">
          </div>
          <div class="col-10 justify-content-center">
            <div>
            <hr>
            <Marquee><h2>About Us</h2></Marquee>
            <hr>
            <div class="row">
              <div class="col-md-6 mt-md-0 mt-3">
                <h3 class="customhead">We are here to serve you..</h3>
                <br>
                <p>VerdictLabs prides itself on providing the best reviews for you.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis metus a libero semper pellentesque. Sed pharetra vulputate ex, ut mollis felis interdum sed. Cras nec risus vel odio tristique efficitur. Duis ac velit non magna molestie imperdiet vel at turpis. Integer vel erat ligula. Donec scelerisque volutpat venenatis. Cras pulvinar volutpat odio eget tincidunt.</p>
                <p>Donec eget purus luctus, pellentesque orci ac, ullamcorper nulla. Nam vehicula turpis purus, ac cursus urna tempor quis. Donec mattis tincidunt magna ac maximus. Maecenas ac egestas ipsum. Integer nisi mauris, rutrum non libero quis, sodales faucibus odio. Maecenas eget aliquam turpis. Sed vitae lacinia diam. Morbi ultricies in augue ut malesuada. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla et facilisis neque. Cras et faucibus arcu. Nullam porta purus eget ligula faucibus, vitae tempor orci convallis. Praesent eu condimentum nisl. Nulla eleifend at mauris eget lacinia. Cras viverra rhoncus gravida. Aenean varius ipsum nec erat tincidunt pharetra.</p>
                <p>Phasellus pharetra, libero ac suscipit semper, est ligula sollicitudin elit, eu ullamcorper ex lacus a nunc. Pellentesque vestibulum ultrices nibh quis euismod. Phasellus porta, nisi sit amet scelerisque pulvinar, massa magna tristique sem, quis lobortis ligula ligula et sem. Nunc bibendum aliquam fermentum. Vestibulum iaculis, velit sit amet facilisis ultricies, odio arcu dignissim lectus, non placerat magna ipsum vel dui. Donec sed volutpat ex. Nunc viverra neque quis varius tempor. Proin augue purus, dapibus vitae eros ut, sagittis luctus quam. Proin laoreet sem quam, at bibendum turpis sodales in. Sed suscipit arcu ac ante convallis tincidunt. Nullam sed laoreet nisi. Donec at condimentum lorem, sed feugiat erat. Morbi consequat leo enim, vel malesuada mi faucibus at. Mauris et nisi porttitor, hendrerit lectus at, sodales orci. Donec consequat leo sit amet tincidunt vestibulum. Donec feugiat nibh convallis, semper ipsum eget, semper justo.</p>
              </div>
              <div class="col-md-6 mt-md-0 mt-3">
                <h3 class="customhead">Working at VerdictLabs</h3>
                <br>
                <%= image_tag("working.jpg", class: "img-fluid")%>
                <br>
                <br>
                <p>If you love to build, sell, to invent on a high performance team thats passionate about excellence, then you’ll love it here at VerdictLabs.</p>
              </div>
            </div>
          </div>
        <div class="col-1">
        </div>
        </div>
      </div>
</body>
</html>