<div class="container">
    <div class="row">

        <div class="col-2 ">
        </div>
            <div class="col-8 justify-content-center text-center">
            <hr>
            <h2 class="text-center">Please Login</h2>
            <hr>
            <%= form_tag sessions_path do %>
            <br><br>
            <%= text_field_tag :username, nil, placeholder: 'Enter Your Username', class: 'form-control' %><br><br>
            <%= password_field_tag :password, nil, placeholder: 'Enter Your Password', class: 'form-control' %><br><br>
            <%= submit_tag 'Log In' %>
            <% end %>
            </div>
        <div class="col-2 ">
    </div>
</div>